body{
	background:url(https://images7.alphacoders.com/380/380582.png);
	text-align: center;
}

h1{
	text-align: center;
	font-family: sans-serif;
	background:url(http://www.congresoderetail.pe/img/fondo-rayas-rojas2.png);
	color: gray;

}

#link{
	 color: gray
}

h3{
	 color: gray;
	 font-size: 25px;
}

#form{
	 color: white;
}

#login{
	color: green; 
	border-color: lightblue;
}

#registro{
	color: blue; 
	border-color: lightblue;
}
p{
	text-align: left;
}